.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70vh;
}

.element-products{
  display: block;
  width: 200px;
  height: 100px;
  text-align: center;
  margin: 20px;
  
}