body{
  margin: 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  width: 100%;
  /* height: 80vh; */
}

.form-input {
  margin: 20px;
  display: block;
}

.element{
  text-align: center;
  width: 50%;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.btn, .send{
  margin: 20px;
  width: 10%;
}

.map{
  width: 100%;
  height: 400px;
  margin-right: 20px;
}

.hide{
  display: none;
}

.form-auth{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: auto;
  flex-direction: column;
  height: 80vh;
}

.addres{
  display: flex;
  align-items: center;
  flex-direction: row;
}

